<% include include/header%>
<% include include/nav%>

<div class="container">
    <!-- articles是render传出来的对象的值即--》articles--》 {title:'xxx',articles:[]}-->
    <div style="min-height: 500px;">
    <% if (articles.length) { %>

        <% articles.forEach(function(article){ %>

        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img style="width:64px;height:64px" src="<%=article.avatar%>" alt="">
                    <!--<img data-holder-rendered="true" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTE3YmEyMmQ3NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MTdiYTIyZDc1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" style="width: 64px; height: 64px;" class="media-object" data-src="holder.js/64x64" alt="64x64">-->
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/articles/detail/<%= article._id %>"><%= article.title %></a></h4>
                <%= article.content %>
            </div>
        </div>
        <% }) %>

    <% } %>
    </div>
    <nav>
        <ul class="pagination">
            <% if (pageNum>1){%>
            <li><a href="/articles/list/<%= pageNum-1 %>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <%  } %>

            <% if (totalPage>=1) {%>

            <%  for(var i=1;i<=totalPage;i++){ %>
            <li class="<%= i==pageNum?'active':''%>"><a href="/articles/list/<%= i %>"><%= i %></a></li>
            <% } %>
            <% } %>

            <% if (pageNum<totalPage){ %>
            <li><a href="/articles/list/<%= pageNum+1 %>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            <% } %>
        </ul>
    </nav>
</div>


<% include include/footer%>